* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #5f0fd7;
  background: linear-gradient(
    145deg,
    rgba(95, 15, 215, 1) 0%,
    rgb(40, 40, 32) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  justify-content: right;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: Arial, sans-serif;
  padding-top: 100px;
  background-repeat: no-repeat;
}

.Testa {
  width: 96%;
  margin-left: auto;
  padding: 1%;
  display: flex;
  justify-content: space-between;
}

.aero {
  display: flex;
  gap: 35px;
  margin-right: 50px;
  background: none;
  align-items: center;
}

.aero a {
  color: white;
  font-family: "CreatoDisplay", sans-serif;
  font-weight: normal;
  font-size: 15pt;
  text-decoration: none;
}

.tab-hover-container {
  position: relative;
  display: inline-flex;
  background-color: black;
  border-radius: 20px;
  padding: 4px;
  overflow: hidden;
}

.tab-hover {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-family: "CreatoDisplay", sans-serif;
  font-size: 15px;
  z-index: 1;
  transition: color 0.3s;
}

.tab-hover.header-button-calendario::before {
  transform-origin: right;  
  right: 0;
  border-radius: 16px 1px 1px 16px;
}

.tab-hover.header-button-mapa::before{
  border-radius: 1px 16px 16px 1px;
}

.tab-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A259FF;
  
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
  z-index: -1;
}

.tab-hover:hover::before {
  transform: scaleX(1);
}

.background-notificacao {
  background-color: #A259FF;
  border-radius: 12px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 30px;
}

.notificacao {
  font-family: 'Material Symbols Outlined';
  font-size: 28px;
  color: #F19E39;
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  line-height: 1;
  display: inline-block;
  
}

.titulo {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  font-size: 3em;
}

.calendar {
  margin-bottom: 20%;
  margin-right: 2em;
  display: flex;
  width: 93.5%;
  height: 90%;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  border-radius: 19px;
}

.conteiner {
  width: 100%;
  max-width: 1830px;
  border-radius: 19px;
}

.mini-bar {
  position: fixed;
  left: 0;
  top: 0;
  margin-right: 1em;
  width: 60px;
  height: 100vh;
  background-color: rgb(125, 55, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.icon-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin: 15px 0;
}

.help-icon {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 10px;
}

.sidebar {
  position: relative;
  overflow-y: auto;
  width: 300px;
  min-height: 730px;
  max-height: 730px;
   background: linear-gradient(
    145deg,
    rgb(112, 172, 167) 0%,
    rgb(157, 173, 197) 30%,
    rgb(171, 123, 202) 100%
  );
  border-radius: 0px 0px 0px 19px;
  opacity: 0.95;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: none;
  z-index: 1000;
}

.sidebar.active {
  display: block;
  z-index: 1000;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

nav h1 a {
  position: absolute;
  left: 60px;
}

.ticket-box {
  background-color: #f5f5f5;
  color: #333;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  transition: background-color 0.3s;
}

.ticket-box:hover {
  background-color: #e6e6e6;
}

.ticket-box h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.ticket-box p {
  font-size: 14px;
  margin: 5px 0;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

nav {
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  z-index: 1000;
}

#map {
  border-radius: 0px 0px 19px 19px;
  width: 100%;
  max-width: 1830px;
  height: 730px;
  z-index: 0;
}

#calendar {
  background-color: #e6e6e6;
  overflow: hidden;
  border-radius: 0px 0px 19px 19px;
}

.fc-toolbar-title {
  text-transform: capitalize;
}

.fc-day-today {
  background-color: #8fd1ce !important;
}

.leaflet-control-zoom {
  position: absolute;
  top: 7px;
  left: 1743px;
  z-index: 1000;
  border: none;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
  border-radius: 30px;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 2px;
  font-size: 20px;
}

.boxData {
  border-radius: 19px 19px 0px 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  background-color: white;
  width: 100%;
  max-width: 1830px;
  height: auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  border-bottom: 1px solid rgb(154, 153, 153);
  background: rgba(255, 255, 255, 0.1);
}

.boxData h1 {
  display: flex;
  justify-content: center;
  top: 30px;
  padding: 30px 30px;
}

.boxData .highlight {
  color: white;
  font-family: "CreatoDisplay", sans-serif;
  font-weight: normal;
}

.boxData .highlight2 {
  color: rgb(155, 92, 250);
  font-family: "CreatoDisplay", sans-serif;
  font-weight: normal;
  margin-left: 9px;
}

@font-face {
  font-family: "CreatoDisplay";
  src: url("../fonts/CreatoDisplay-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
p img {
  width: 100%;
  max-width: 250px;
  height: 250px;
}

.tecnico-box {
  background-color: #f9f9f9;
  margin-top: 16px;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  position: relative;
  font-family: sans-serif;
}

.tecnico-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foto-e-nome {
  display: flex;
  align-items: center;
}

.foto-perfil {
  width: 50px;               /* ou o tamanho que desejar */
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;        /* deixa a div redonda */
  overflow: hidden;          /* esconde partes que ultrapassarem */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccc;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.788);    /* opcional: para fundo neutro */
}

.foto-perfil img {
  width: 95%;
  height: 95%;
  object-fit: cover;         /* mantém proporção preenchendo o espaço */
  border-radius: 50%;        /* arredonda a imagem também */
}

.nome-status {
  display: flex;
  flex-direction: column;
}

.nome-tecnico {
  font-weight: bold;
  font-size: 1rem;
}

.texto-status {
  font-size: 0.85rem;
  color: #555;
}

.status-indicador {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status-ativo { background-color: green; }
.status-ocupado { background-color: red; }
.status-inativo { background-color: gray; }

.tecnico-footer{
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.2em;
  margin-top: 20px;
  color: #333;
}

.especialidade{
  font-size: 1em;
  font-weight: bold;
}

.foto-icone {
  border-radius: 50% !important;
  overflow: hidden;
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;

  /* Borda branca ao redor da imagem */
  border: 3px solid #01f83f;

  /* Shadow mais forte */
  box-shadow: 3px 6px 2px rgba(10, 10, 10, 0.486);
}

.ticket-icone{
  width: 80px !important;
  height: 70px !important;
  
}